<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryval") 
        <link rel="stylesheet" type="text/css" href="../../Scripts/datatables.min.css" /> 

        <script type="text/javascript" src="../../Scripts/datatables.min.js"></script> 
    </head>
    <body>
        <header>
            
            <div class="content-wrapper">
                <div class="site-title">
                    <a href="" class="logo" alt="Train tracker logo"><img src="~/Images/HeaderLogo.png" /></a>
                </div>
            </div>
        </header>
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Brodd, Gabrielson, Lundberg, Söderström<img alt="Train tracker logo" src="../images/logoimg.png" /></p>                  
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
