@model System.Xml.Linq.XElement

@{
    ViewBag.Title = "Index";
}
<header>
<h2>Search</h2>
</header>
<body>

@* Starttime, Datettime, rullista med alla platser, söka på fordon. *@
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Search</legend>

        <div class="editor-label">
            <p>Sök fordon:</p>
        </div>
        <div >
            <h3>Från datum</h3>
            <p>År @Html.TextBox("fromDateYear")</p>            
            <p>Månad @Html.TextBox("fromDateMonth")</p>            
            <p>Dag @Html.TextBox("fromDateDay")</p>            
        </div>

        <div>
            <h3>Till datum</h3>
            <p>År @Html.TextBox("toDateYear")</p>            
            <p>Månad @Html.TextBox("toDateMonth")</p>
            <p>Dag @Html.TextBox("toDateDay")</p>
            
        </div>

      

        @Html.DropDownList("locationValue", (SelectList)ViewBag.DropDownValues)
        <p>
            <input type="submit" value="Search" />
        </p>

        @if (Model != null)
        {
            foreach (var item in Model.Descendants("Passage"))
            {
                @Html.Raw(item.Value);
            }
        }

    </fieldset>
}

</body>