@model System.Xml.Linq.XElement

@{
    ViewBag.Title = "Index";
}

<header>
    <h2>Search</h2>
</header>
<body>

    @* Starttime, Datettime, rullista med alla platser, söka på fordon. *@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div class="float-left">
                <legend>Search</legend>


                <h3>From date</h3>
                <p>@Html.TextBox("from", null, new { @class = "datePicker" })</p>

                <h3>To date</h3>
                <p>@Html.TextBox("to", null, new { @class = "datePicker" })</p>
            </div>

            <div>
                @Html.DropDownList("locationValue", (SelectList)ViewBag.DropDownValues)
            </div>
            
            <p>
                <input id="submitButton" type="submit" value="Search" />
            </p>

            @if (Model != null)
            {
                foreach (var item in Model.Descendants("Passage"))
                {
                    @Html.Raw(item.Value);
                }
            }

        </fieldset>

        <script type="text/javascript">
                $(document).ready(function () {
                    $(".datePicker").datepicker({ dateFormat: 'yy/m/d', changeYear: true, defaultDate: '-6y' });
                });
        </script>
    }
</body>
