@model IEnumerable<IIProjectClient.Models.VehiclePassage>

@{
    ViewBag.Title = "Index";
}
<body>
    @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
    }

    @* Starttime, Datettime, rullista med alla platser, söka på fordon. *@
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <div id="menu">
                <div id="userName">
                    <h3>User name: </h3>
                    <p>@Html.TextBox("user", null, new { @class = "inputfields" })</p>
                </div>
                <div id="location">
                    <h3>Location: </h3>
                    <p>@Html.DropDownList("locationValue", (SelectList)ViewBag.DropDownValues, new { id = "dropDown" })</p>
                </div>
                <div id="fromDate">
                    <h3>From date: </h3>
                    <p>@Html.TextBox("from", null, new { @class = "datePicker", })</p>
                </div>
                <div id="toDate">
                    <h3>To date: </h3>
                    <p>@Html.TextBox("to", null, new { @class = "datePicker" })</p>
                </div>
                <div id="submitBtn">
                    <input id="submitButton" type="submit" value="Search" />
                </div>
            </div>
        </fieldset>
    }

            @if (Model != null)
            {
                //Servicemeddelande här?
                <table>
                    <tr>
                        <th>
                            Time
                        </th>
                        <th>
                            Vehicle EPC
                        </th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vehicle.EPC)
                            </td>
                            <td>
                                View Details
                            </td>
                        </tr>
                    }
                </table>
            }
       
       
    <script type="text/javascript">
                $(document).ready(function () {
                    $(".datePicker").datepicker({ dateFormat: 'yy/m/d', changeYear: true, defaultDate: '-6y' });
                });
    </script>

    

</body>
